# App config
APP_NAME=service
APP_ENVIRONMENT=dev
APP_TENANT=0
APP_MAX_PARALLEL_WORKERS=1
LOG_LEVEL=debug
OTEL_EXPORTER_OTLP_ENDPOINT=localhost:4317
JWT_SECRET=replace-with-strong-random-secret

# SonarQube
SONAR_PORT=9003
SONAR_HOST_URL=http://localhost:9003
SONAR_TOKEN=

# CLAUDE
CLOUD_PROVIDER=aws
CLOUD_HOST=https://sqs.sa-east-1.amazonaws.com
CLOUD_REGION=sa-east-1
CLOUD_SECRET=
CLOUD_TOKEN=
CLOUD_DISABLE_SSL=true
#DATABASE
DATABASE_DRIVER=postgres
DATABASE_MIGRATION=false
DATABASE_HOST=localhost
DATABASE_USER=postgres
DATABASE_PASSWORD=postgres
DATABASE_NAME=gofi
DATABASE_PORT=5432
DATABASE_SSL_MODE=require
DATABASE_MAX_OPEN_CONNS=30
DATABASE_MAX_IDLE_CONNS=15
DATABASE_MAX_LIFETIME=5m

# Cache
CACHE_TYPE=redis
CACHE_URI=localhost:6379
CACHE_PASSWORD=102030
CACHE_USE_TLS=false

# Messaging
MESSAGING_PROVIDER=kafka
MESSAGING_USER=
MESSAGING_PASSWORD=
MESSAGING_HOST=localhost
MESSAGING_PORT=9092
MESSAGING_USE_TLS=false
MESSAGING_SASL_MECHANISM=SCRAM-SHA-512 #PLAIN, SCRAM-SHA-512